<section class="well">
	<div class="container">
		<div class="row  justify-content-center mb-5">
			<div class="col-lg-8 text-center">
			 <span class="text-primary font-extra font-md">Make Reservation</span>
				
			</div>
	</div>
		</div>
			
			  
		  </section>
<section class="well">
	<div class="container">
				<h2 class="text-primary font-extra font-md">{{form(form)}}</h2>
		
			</div>
	</section>


		  


		  

